<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Loan Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
</head>
<body>
<div class="row m-2">
    <div class="col d-flex justify-content-center">
        <div class="card p-2" style="width: 400px;">
            <div class="card-body">
                <h5>Loan Calculator</h5>
            </div>

            <form th:action="@{/calculate}" method="post">
                <div class="form-group p-2">
                    <label for="loanType">Loan Type</label>
                    <select class="form-control" id="loanType" name="loanType">
                        <option th:each="loanOpt : ${T(com.calculation.loan.model.LoanType).values()}"
                                th:value="${loanOpt}" th:text="${loanOpt.getValue()}"></option>
                    </select>
                </div>

                <div class="form-group p-2">
                    <label for="amount">Loan Amount, EUR</label>
                    <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount"
                           required>
                </div>
                <div class="form-group p-2">
                    <label for="years">Payback Time (Years)</label>
                    <input type="number" class="form-control" id="years" name="years" placeholder="Enter years"
                           required>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary p-2">Calculate</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
