<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Loan Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="m-3">
<h1>Monthly Payment Plan</h1>
<h5 th:text="${loan.loanTypeValue}"></h5>
<table class="table m-3">
    <thead>
    <tr>
        <th>Month</th>
        <th>Principal Paid</th>
        <th>Interest Paid</th>
        <th>Payment</th>
        <th>Remaining Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detail : ${loan.paymentDetails}">
        <td th:text="${detail.month}"></td>
        <td th:text="${detail.principalPaid}"></td>
        <td th:text="${detail.interestPaid}"></td>
        <td th:text="${detail.monthlyPayment}"></td>
        <td th:text="${detail.remainingBalance}"></td>
    </tr>
    </tbody>
</table>
<a href="/">New Calculation</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
